<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
</head>
<body>
    {% csrf_token %}
    <input id="input" type="text" />

    <script>
        const socket = new WebSocket('ws://localhost:5000/sad/')
        socket.onopen = () => {
        }

        socket.onclose = () => {
            console.log("closed")
        }

        socket.onmessage = (message) => {
            const data = JSON.parse(message.data)
            console.log(data)
        }

        document.getElementById('input').onchange = (e) => {
            let formData = new FormData()
            formData.append("text", e.target.value)
            
            fetch('http://localhost:5000/test/', {
            method : 'POST',
            body : formData,
            headers: {
           "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
                   }
        })


        }

        
    </script>
</body>
</html>